@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");

.t-tildalabel-free {
  padding: 0;
  height: 0;
  transform: scale(0);
}

.t-tildalabel-free__main {
  display: none;
}

.t-tildalabel-free__links-wr {
  display: none;
}

.t-title {
  font-weight: 900;
}

.tmenu-mobile,
.t228 {
  box-shadow: 0 4px 8px rgba(1, 4, 0, 0.12);
}

.t478__blockimg {
  background-size: contain;
}
